<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to The Simple Card. <%= @user.email %></h1>
    <p>We help make managing your credit card simple.</p>
    <p>You can store you basic credit issuer details in your account in case you lose your card.</p>
    <p>We also make it easy to find new cards using our search tools.</p>
    <p>We also will occasionally send you deals that we think will help you save money.</p>
    <p>Thanks for joining and have a great day! We like you.</p>
  </body>
</html>