
<div id="redirect">
    <p span class="center"><%= image_tag("loading.gif", :alt => "loading", :size => "32x32") %></p>
   	<p span class="center">Finding your card or loan.</p> 
   	<p span class="center"><div id= "redirect_small"> If you are not redirected in five seconds please <%= link_to("click here", @lender_url) %></div></p>
</div>




