		<div class="lpFooter">
			<div id="copyright">Copyright © 2013 CardCred. All rights reserved.</div>
			<div id="disclaimer">*Disclaimer: We aim to keep information accurate and up to date, however we cannot make warranties regarding the accuracy of our information. Please verify state licensing, fees, interest rates, and other lending terms during the application process. The Payday Hound may be compensated if consumers choose to utilize some of the links located throughout the content on this site and generate sales for the said merchant.
			</div><br><a href="javascript:TogPrivacy()" id = "infoPrivacyFooter" >Privacy Policy, Terms and Contact</a>	
	    </div>
	    <div id = "privacyFooter" style="overflow:hidden;display:none">
				<%= render(:partial => "shared/contact")%>
				<br/>
				<%= render(:partial => "shared/privacy")%>
				<br/>
				<%= render(:partial => "shared/terms")%>

				<p><a href="javascript:TogPrivacy()">Return to Top</a></p>

	    </div>
	   