

<div id = "sidebarWhyPDH">
	<h2>The Payday Hound</h2>
		<ul>
		<li><%= link_to("Why Use Us", {:controller => 'infos', :action => 'why'}) %></li>
		<li><%= link_to("How We Make Money", {:controller => 'infos', :action => 'why'}) %></li>
		<li><%= link_to("How Our Rankings Work", {:controller => 'infos', :action => 'why'}) %></li>
</div>
