

<div class = "criteria">
	<%= render(:partial => "shared/criteria")%>
</div>

<div class = "info">
	<h2 class= "title">Why The Payday Hound?</h2>
		<div class= "link"><%= link_to("Why use the Payday Hound?", {:controller => 'infos', :action => 'why'}) %></div>
		<div class= "link"><%= link_to("How do we make money?", {:controller => 'infos', :action => 'why'}) %></div>
		<div class= "link"><%= link_to("How do our rankings work?", {:controller => 'infos', :action => 'why'}) %></div>
</div>
