		
	<h1>Terms of Use</h1>
			<p>March 11, 2014</p>
			<p>These terms and conditions (the “Terms”) govern your
 access to and use of www.thesimplecard.com (“Site”). By accessing or 
using the Site, you are agreeing to these Terms and concluding a legally
 binding contract with Simple Credit Corp. (“Simple”), a Delaware based corporation that owns and operates the Site. Do not 
access or use the Site if you are unwilling or unable to be bound by the
 Terms.</p>
			<h2>Definitions</h2>
				<h3>1. Parties</h3>
				<p>“You” and “your” refer to you, as a user of the Site. A “user” is 
someone who accesses, browses, crawls, scrapes, or in any way uses the 
Site, and includes any bank, credit card issuer, financial institution, or other credit card service provider listed on the site, whether sponsored or not sponsored.
 “We”, “us”, and “our” refer to Simple.</p>
				<h3>2. Content</h3>
				<p>“Content” means text, images, photos, audio, video and all other 
forms of data or communication. “Your Content” means Content that you 
submit or transmit to, through, or in connection with the Site, such as 
your name, ratings, reviews, compliments, and information that you 
publicly display. “User Content” means Content that users submit or 
transmit to, through, or in connection with the Site. “Site Content” 
means Content that we create and make available in connection with the 
Site. “Third Party Content” means Content that originates from parties 
other than us or the Site’s users, which is made available in connection
 with the Site.</p>
				<h2>Changes to Terms of Service</h2>
<p>We may modify the Terms from time to time. When changes are made, 
we will notify you by making the revised version available on this 
webpage, and will indicate at the top of this page the date that 
revisions were last made. You should revisit these Terms on a regular 
basis as revised versions will be binding on you. Any such modification 
will be effective upon our posting of new Terms. You understand and 
agree that your continued access to or use of the Site after any posted 
modification to the Terms indicates your acceptance of the modification.</p>
				<h2>Using the Site</h2>
				<h3>1. Eligibility</h3>
<p>To access or use the Site, you must be 18 years or older and have 
the requisite power and authority to enter into these Terms. You may not
 access or use the Site if we have previously banned you from the Site.</p>
				<h3>2. Permission to Use the Site</h3>
<p>We grant you permission to use the Site subject to the restrictions
 in these Terms. Your use of the Site is at your own risk, including the
 risk that you might be exposed to Content that is offensive, indecent, 
inaccurate, objectionable, or otherwise inappropriate.</p>
<h3>3. Site Availability</h3>
<p>The Site may be modified, updated, interrupted, suspended or discontinued at any time without notice or liability to us.</p>
				<h3>4. User Comments</h3>
<p>In providing comments on the Site, you may not impersonate someone 
else (e.g., adopt the identity of a celebrity or your next-door 
neighbor) or provide information about anyone other than yourself. If 
you use a pseudonym, take care to note that others may still be able to 
identify you if, for example, you include identifying information in 
your reviews, or use the same pseudonym on other sites. Please read our 
Privacy Policy for more information.</p>
					<h2>Content</h2>
					<h3>1. Responsibility for Your Content</h3>
<p>You alone are responsible for Your Content, and once published, it
 cannot always be withdrawn. You assume all risks associated with Your 
Content, including anyone’s reliance on its quality, accuracy, or 
reliability, or any disclosure by you of information in Your Content 
that makes you personally identifiable. You represent that you own, or 
have the necessary permissions to use and authorize the use of Your 
Content as described herein. You may not imply that Your Content is in 
any way sponsored or endorsed by Simple.</p>
<p>You may expose yourself to liability if, for example, Your Content
 contains material that is false, intentionally misleading, or 
defamatory; violates any third-party right, including any copyright, 
trademark, patent, trade secret, moral right, privacy right, right of 
publicity, or any other intellectual property or proprietary right; 
contains material that is unlawful, including illegal hate speech or 
pornography; exploits or otherwise harms minors; or violates or 
advocates the violation of any law or regulation.</p>
					<h3>2. Our Right to Use Your Content</h3>
<p>We may use Your Content in a number of different ways, including 
publicly displaying it, reformatting it, incorporating it into 
advertisements and other works, creating derivative works from it, 
promoting it, distributing it, and allowing others to do the same in 
connection with their own websites and media platforms (“Other Media”). 
As such, you hereby irrevocably grant us world-wide, non-exclusive, 
royalty-free, sublicensable, transferable rights to use Your Content for
 any purpose. You also irrevocably grant the users of the Site and any 
Other Media the right to access Your Content in connection with their 
use of the Site and any Other Media. Finally, you irrevocably waive, and
 cause to be waived, against Simple and its users any claims and 
assertions of moral rights or attribution with respect to Your Content. 
By “use” we mean use, copy, publicly perform or display, distribute, 
modify, translate, and create derivative works of Your Content.</p>
						<h3>3. Ownership</h3>
<p>As between you and Simple, you own Your Content. We own the Site 
Content, including but not limited to visual interfaces, interactive 
features, graphics, design, compilation, computer code, products, 
software, aggregate user review ratings, and all other elements and 
components of the Site excluding Your Content, User Content and Third 
Party Content. We also own the copyrights, trademarks, service marks, 
trade names, and other intellectual and proprietary rights throughout 
the world (“IP Rights”) associated with the Site Content and the Site, 
which are protected by copyright, trade dress, patent, trademark laws 
and all other applicable intellectual and proprietary rights and laws. 
As such, you may not modify, reproduce, distribute, create derivative 
works or adaptations of, publicly display or in any way exploit any of 
the Site Content in whole or in part. We do not grant you any express or
 implied rights, and all rights in and to the Site and the Site Content 
are retained by us.</p>
						<h3>4. Advertising</h3>
<p>Simple and its licensees may publicly display advertisements and 
other information adjacent to or included with Your Content. You are not
 entitled to any compensation for such advertisements. The manner, mode 
and extent of such advertising are subject to change without specific 
notice to you.</p>
						<h3>5. Other</h3>
<p>User Content, Your Content and Third Party Content do not reflect 
the opinion of Simple. We reserve the right to remove, screen, edit, or
 reinstate such content from time to time at our sole discretion and 
without notice to you. For example, we may remove a review if we believe
 it violates laws or regulations, or is offensive to other users. We 
have no obligation to retain or provide you with copies of Your Content,
 User Content or Third Party Content, nor do we guarantee any 
confidentiality with respect to such content.</p>
						<h2>Restrictions</h2>
<p>We are under no obligation to enforce the Terms on your behalf 
against another user. While we encourage you to let us know if you 
believe another user has violated the Terms, we reserve the right to 
investigate and take appropriate action at our sole discretion.</p>					
						<h3>1. You agree not to, and will not assist, encourage, or enable others to use the Site to:</h3>
							<ul>
								<li>Write a fake or defamatory review, trade reviews with other 
businesses, or compensate someone or be compensated to write or remove a
 review;</li>
								<li>Violate any third party’s rights, including any breach of 
confidence, copyright, trademark, patent, trade secret, moral right, 
privacy right, right of 								publicity, or any other intellectual 
property or proprietary right;</li>
								<li>Threaten, stalk, harm, or harass others, or promote bigotry or discrimination;</li>
								<li>Promote a business or other commercial venture or event, or otherwise use the Site for commercial purposes;</li>
								<li>Send bulk emails, surveys, or other mass messaging, whether 
commercial in nature or not; engage in keyword spamming, or otherwise 
attempt to manipulate the 								Site’s search results or any third 
party website;</li>
								<li>Solicit personal information from minors, or submit or transmit pornography; or</li>
								<li>Violate any applicable law.</li>
							</ul>
							<h3>2. You also agree not to, and will not assist, encourage, or enable others to:</h3>
								<ul>
									<li>Violate the Terms;</li>
									<li>Modify, adapt, appropriate, reproduce, distribute, 
translate, create derivative works or adaptations of, publicly display, 
sell, trade, or in any way exploit the Site or Site Content (other than 
Your Content);</li>
									<li>Use any robot, spider, site search/retrieval application, 
or other automated device, process or means to access, retrieve, scrape,
 or index any portion of the Site or any Site Content;</li>
									<li>Reverse engineer any portion of the Site;</li>
									<li>Remove or modify any copyright, trademark or other 
proprietary rights notice that appears on any portion of the Site or on 
any materials printed or copied from the Site;</li>
									<li>Record, process, or mine information about other users;</li>
									<li>Access, retrieve or index any portion of the Site for 
purposes of constructing or populating a searchable database of business
 reviews;</li>
									<li>Reformat or frame any portion of the Site;</li>
									<li>Take any action that imposes, or may impose, in our sole 
discretion, an unreasonable or disproportionately large load on 
Simple’s technology infrastructure or otherwise make excessive traffic 
demands of the Site;</li>
									<li>Attempt to gain unauthorized access to the Site, user 
accounts, computer systems or networks connected to the Site through 
hacking, password mining or any other means;</li>
									<li>Use the Site or any Site Content to transmit any computer 
viruses, worms, defects, Trojan horses or other items of a destructive 
nature (collectively,“Viruses”);</li>
									<li>Use any device, software or routine that interferes with 
the proper working of the Site, or otherwise attempt to interfere with 
the proper working of the Site;</li>
									<li>Use the Site to violate the security of any computer 
network, crack passwords or security encryption codes; disrupt or 
interfere with the security of, or	otherwise cause harm to, the Site or 
Site Content; or</li>
									<li>Remove, circumvent, disable, damage or otherwise interfere 
with any security-related features of the Site, features that prevent or
 restrict the use or copying of Site Content, or features that enforce 
limitations on the use of the Site.</li>
							</ul>
							<p>The restrictions above only apply to the extent permissible 
under applicable law. Nevertheless, you agree not to act contrary to 
them (even if permissible 							under applicable law).</p>
							<h2>Guidelines and Policies</h2>
							<h3>1. Content Guidelines</h3>
							<p>You represent that you have read and understood the Terms.</p>
							<h3>2. Privacy</h3>
							<p>We may collect non-personally identifiable information about you 
through a variety of technical methods, including the following:</p>
								<ul>
									<li>Collection of Usage Details and IP Address. As you navigate
 through this Site, we may collect details of your visits to this Site, 
including, but not limited to, traffic data, location data, logs, the 
resources that you access, and information about your computer and 		
internet connection, including but not limited to	your IP address, 
operating system and browser type. We may use this information 	for 	
system administration and to report aggregate information to our 
advertisers and business partners.</li>
									<li>Collection with Cookies. “Cookies” are pieces of 
information that a website sends to your computer while you are viewing a
 	website. We may set and access cookies on your computer to track and 
store preferential information about you. You consent to our 	placement 
of cookies on your computer. Please note that most Internet browsers 
will allow you to stop cookies from being stored on 	your computer 	and 
to delete cookies stored on your computer. If you choose to do so, 
however, your use of certain aspects of this Site may be	restricted.</li>
									<li>Collection with Web beacons. “Web beacons” are electronic 
images, tags or scripts that allow a website to access cookies and help 
track general usage patterns of visitors to a website. Web beacons can 
recognize certain types of information, such as cookies, 	time 	and date
 of a page view, and a description of the page where the Web beacon is 
placed. We may use Web beacons to compile information regarding use of 
this Site.</li>
							</ul>
							<p>The information collected through these technical methods, 
standing alone, cannot be used to determine your identity. Such 
information may, however, be combined in a way that makes it become 
personally identifiable information. If this happens, we will treat the 
combined information as personally identifiable information</p>
							<p>You represent that you have read and understood our Privacy 
Policy. Note that we may disclose information about you to third parties
 if we have a good faith belief that such a disclosure is reasonably 
necessary to (i) take action regarding suspected illegal activities; 
(ii) enforce or apply our Terms and Privacy	Policy; (iii) comply with 
legal process or other government inquiry, such as a search warrant, 
subpoena, statute, judicial proceeding, or other legal process served on
 us; or (iv) protect our rights, reputation, and property, or that of 
our users, affiliates, or the public. To the extent required by laws 
outside of	the United States, if you use the Site outside of the United 
States, you consent to having your personal data transferred to and 
processed in the United States.</p>
							<h2>Suggestions and Improvements</h2>
<p>By sending us any ideas, suggestions, documents or proposals 
(“Feedback”), you agree that (i) your Feedback does not contain the 
confidential or proprietary information of third parties, (ii) we are 
under no obligation of confidentiality, express or implied, with respect
 to the Feedback, (iii) we may have something similar to the Feedback 
already under consideration or in development, and (iv) you grant us an 
irrevocable, non-exclusive, royalty-free, perpetual, worldwide license 
to use, modify, publish, distribute and sublicense the Feedback.</p>
							<h2>Third Parties</h2>
<p>The Site may include links to other websites or applications 
(each, a “Third Party Site”). We do not control or endorse any Third 
Party Site. You	agree that we are not responsible for the availability 
or contents of such Third Party Sites. Your use of Third Party Sites is 
at your own risk. Simple may be compensated if consumers 
choose to utilize some of the links located throughout the Site and such
 use generates sales for the Third Party merchant. Simple does
 not have investment or other financial relationships with such Third 
Party merchants other than the compensation for lead generation. Not all
 Third Party merchants listed on the Site compensate Simple 
for the leads generated via the Site. Simple at all times remains impartial.</p>
							<h2>Indemnity</h2>
<p>You agree to indemnify, defend, and hold Simple, its parents, 
subsidiaries, affiliates, any related companies, suppliers, licensors 
and partners, and the officers, directors, employees, agents and 
representatives of each of them (collectively, the “Simple Entities”) 
harmless, including costs, liabilities and legal fees, from any claim or
 demand made by any third party arising out of or relating to (i) your 
access to or use of the Site, (ii) your violation of the Terms, (iii) 
any products or services purchased or obtained by you in connection with
 the Site, or (iv) the infringement by you of any intellectual property 
or other right of any person or entity. Simple reserves the right, at 
your expense, to assume the exclusive defense and control of any matter 
for which you are required to indemnify us and you agree to cooperate 
with our defense of these claims. You agree not to settle any matter 
without the prior written consent of Simple. Simple will use 
reasonable efforts to notify you of any such claim, action or proceeding
 upon becoming aware of it.</p>
							<h2>Disclaimers and Limitation of Liability</h2>
							<p></strong>PLEASE READ THIS SECTION CAREFULLY SINCE IT LIMITS THE LIABILITY
 OF THE SIMPLE ENTITIES. EACH OF THE SUBSECTIONS BELOW ONLY APPLIES UP 
TO THE MAXIMUM EXTENT PERMITTED UNDER APPLICABLE LAW. NOTHING HEREIN IS 
INTENDED TO LIMIT ANY RIGHTS YOU MAY HAVE WHICH MAY NOT BE LAWFULLY 
LIMITED.</p>
								<ol>
								<li>THE SITE IS MADE AVAILABLE TO YOU ON AN “AS IS”, “WITH ALL 
FAULTS” AND “AS AVAILABLE” BASIS. YOUR USE OF THE SITE IS AT YOUR OWN 
DISCRETION AND RISK. THE SIMPLE ENTITIES MAKE NO CLAIMS OR PROMISES 
ABOUT THE QUALITY, ACCURACY, OR RELIABILITY OF THE SITE, ITS SAFETY OR 
SECURITY, OR THE SITE CONTENT. WE AIM TO KEEP INFORMATION ACCURATE AND 
UP-TO-DATE, HOWEVER WE DO NOT MAKE WARRANTIES REGARDING THE ACCURACY OF 
OUR INFORMATION. PLEASE VERIFY STATE LICENSING, FEES, INTEREST RATES AND
 OTHER LENDING TERMS DURING THE APPLICATION PROCESS. ACCORDINGLY, THE 
SIMPLE ENTITIES ARE NOT LIABLE TO YOU FOR ANY LOSS OR DAMAGE THAT MIGHT
 ARISE, FOR EXAMPLE, FROM YOUR RELIANCE ON THE QUALITY, ACCURACY, OR 
RELIABILITY OF THE BUSINESS LISTINGS, RATINGS, OR REVIEWS.</li>
								<li>THE SIMPLE ENTITIES MAKE NO CLAIMS OR PROMISES WITH RESPECT 
TO ANY THIRD PARTY, SUCH AS THE BUSINESSES LISTED ON THE SITE OR THE 
SITE’S USERS. ACCORDINGLY, THE SIMPLE ENTITIES ARE NOT LIABLE TO YOU 
FOR ANY LOSS OR DAMAGE THAT MIGHT ARISE FROM THEIR ACTIONS, INCLUDING, 
FOR EXAMPLE, IF ANOTHER USER MISUSES YOUR CONTENT OR IDENTITY, OR IF YOU
 HAVE A NEGATIVE EXPERIENCE WITH ONE OF THE BUSINESSES OR LENDERS LISTED
 ON THE SITE. YOUR PURCHASE AND USE OF PRODUCTS OR SERVICES OFFERED BY 
THIRD PARTIES THROUGH THE SITE IS AT YOUR OWN DISCRETION AND RISK.</li>
								<li>THE SIMPLE ENTITIES EXPRESSLY DISCLAIM ALL WARRANTIES, 
WHETHER EXPRESS OR IMPLIED, INCLUDING WARRANTIES AS TO THE PRODUCTS OR 
SERVICES OFFERED BY BUSINESSES LISTED ON THE SITE, AND IMPLIED 
WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, AND 
NON-INFRINGEMENT. NO ORAL OR WRITTEN INFORMATION OR ADVICE PROVIDED TO 
YOU BY A REPRESENTATIVE OF ONE OF THE SIMPLE ENTITIES, OR BY THE SITE, 
SHALL CREATE A REPRESENTATION OR WARRANTY.</li>
								<li>YOUR SOLE AND EXCLUSIVE RIGHT AND REMEDY IN CASE OF 
DISSATISFACTION WITH THE SITE, RELATED SERVICES, OR ANY OTHER GRIEVANCE 
SHALL BE YOUR TERMINATION AND DISCONTINUATION OF ACCESS TO, OR USE OF 
THE SITE.</li>
								<li>THE SIMPLE ENTITIES’ MAXIMUM AGGREGATE LIABILITY TO YOU FOR 
LOSSES OR DAMAGES THAT YOU SUFFER IN CONNECTION WITH THE SITE OR THESE 
TERMS IS LIMITED TO THE GREATER OF (i) THE AMOUNT PAID, IF ANY, BY YOU 
TO THE SIMPLE ENTITIES IN CONNECTION WITH THE SITE IN THE 12 MONTHS 
PRIOR TO THE ACTION GIVING RISE TO LIABILITY, OR (ii) $100.</li>
								<li>THE SIMPLE ENTITIES DISCLAIM LIABILITY FOR ANY (i) INDIRECT,
 SPECIAL, INCIDENTAL, PUNITIVE, EXEMPLARY, RELIANCE, OR CONSEQUENTIAL 
DAMAGES, (ii) LOSS OF PROFITS, (iii) BUSINESS INTERRUPTION, (iv) 
REPUTATIONAL HARM, OR (v) LOSS OF INFORMATION OR DATA.<./li></strong>
</ol>
							<h2>Choice of Law and Venue</h2>
<p>Nevada law will govern these Terms, as well as any claim, cause 
of action or dispute that might arise between you and Simple (a 
“Claim”), without regard to conflict of law provisions. FOR ANY CLAIM 
BROUGHT BY EITHER PARTY, YOU AGREE TO SUBMIT AND CONSENT TO THE PERSONAL
 AND EXCLUSIVE JURISDICTION IN, AND THE EXCLUSIVE VENUE OF, THE STATE 
AND FEDERAL COURTS LOCATED WITHIN DELAWARE.</p>
							<h2>Suspension</h2>
<p>We may suspend your ability to use certain portions of the 
Site, and/or ban you altogether from the Site for any or no reason, and 
without notice or liability of any kind. Any such action could prevent 
you from accessing the Site, Your Content, Site Content, or any other 
related information.</p>
							<h2>General Terms</h2>
							<ol>
								<li>We reserve the right to modify, update, or discontinue the 
Site at our sole discretion, at any time, for any or no reason, and 
without notice or liability.</li>
								<li>We may provide you with notices, including those regarding 
changes to the Terms by email, regular mail or communications through 
the Site.</li>
								<li>Except as otherwise stated in section DISCLAIMERS AND 
LIMITATIONS OF LIABILITY above, nothing herein is intended, nor will be 
deemed, to confer rights or remedies upon any third party.</li>
								<li>The Terms contain the entire agreement between you and us 
regarding the use of the Site, and supersede any prior or other 
agreement between you and us on such subject matter. The parties 
acknowledge that no reliance is placed on any oral or written 
representation made but not expressly contained in these Terms.</li>
								<li>Any failure on Simple’s part to exercise or enforce any 
right or provision of the Terms does not constitute a waiver of such 
right or provision. The failure of either party to exercise in any 
respect any right provided for herein shall not be deemed a waiver of 
any further rights hereunder.</li>
								<li>If any provision of the Terms is found to be unenforceable or
 invalid, that provision shall be limited or eliminated to the minimum 
extent necessary so that the Terms shall otherwise remain in full force 
and effect and enforceable.</li>
								<li>The Terms are not assignable, transferable or sublicensable 
by you except with Simple’s prior written consent, but may be assigned 
or transferred by us without restriction. Any assignment attempted to be
 made in violation of the Terms shall be void.</li>
								<li>The section titles in the Terms are for convenience only and have no legal or contractual effect.</li>
							</ol>
	