<!-- custom body text -->
 <div class = "top_box_layer"> 
	<div class = "top_pdh_box">
		<div class = "pdh_top_box_col_b">			
			<h1>The Payday Hound</h1>
			<ul>
				<li>The most comprehensive online payday lender reviews</li>
				<li>Aims to rank more online lenders than anyone else</li>
				<li>If a lender is not listed, send us an email and we'll rank it</li>
			</ul>
		</div>
		<div class = "pdh_top_box_col_c">			
			<div class = "pdh_col_c_quote">Payday lenders provide $40 billion of short-term loans annually</div>	
			<div class = "pdh_col_c_quotesrc">Federal Reserve Board, Wash D.C.</div>	
			<div class = "pdh_col_c_quote">Payday loans: Borrower beware</div>	
			<div class = "pdh_col_c_quotesrc">Bankrate.com, NY, NY</div>	
		</div>
	</div>
    <div class = "rank_box">
		<div class = "rank_title">Rankings and Reviews</div>
		<div class = "rank_row">
			<div class = "rank_box_lft"><a href="http://www.thepaydayhound.com/payday-loans/" class="rank_box_go_button"></a></div>
			<div class = "rank_box_rt">Payday Loans</div>	
		</div>
		<div class = "rank_row">
			<div class = "rank_box_lft"><a href="http://www.thepaydayhound.com/installment-loans/" class="rank_box_go_button"></a></div>
			<div class = "rank_box_rt">Installment Loans</div>	
		</div>
		<div class = "rank_row">
			<div class = "rank_box_lft"><a href="http://www.thepaydayhound.com/matching-services/" class="rank_box_go_button"></a></div>
			<div class = "rank_box_rt">Matching Serives</div>	
		</div>
	</div>
 </div>
 <div class = "middle_box_layer">
		<div class = "middle_box_space"><img src="http://www.thepaydayhound.com/wp-content/uploads/2012/05/spacer.gif" alt="" height="1" width="1" /></div>
	  <div class= "middle_box_space"><%= link_to("Why use the Payday Hound?", {:controller => 'info', :action => 'why'}) %></div>
		<div class= "middle_box_space"><%= link_to("How do we make money?", {:controller => 'info', :action => 'why'}) %></div>
		<div class= "middle_box_space"><%= link_to("How do our rankings work?", {:controller => 'info', :action => 'why'}) %></div>
 </div>



 <div class= "base_box">
 	<div class = "news_box">
 		<div class= "pdh_news_title">PAYDAY INDUSTRY NEWS
 		</div>
 		<div class = "news_content">
 			<div class = "content_title"><a href="http://www.nytimes.com/2012/04/26/business/chasing-fees-banks-court-low-income-customers.html">Chasing Fees, Banks Court Low-Income Customers</a></div>
			<div class = "news_byline">NY Times, April 25, 2012</div>
 			<div class = "base_content">When David Wegner went looking for a checking account in January, he was peppered with offers for low-end financial products, including a prepaid debit card with numerous fees</div>
 			<div class = "content_title"><a href="http://www.latimes.com/business/la-fi-banks-payday-loans-20120311,0,3076812.story">Credit Unions, banks grabbing a share of payday loan dollars</a></div>
			<div class = "news_byline">LA Times, March 11 25, 2012</div>
 			<div class = "base_content">Reporting from Washington— Payday loans, for years a fixture in poor, working-class neighborhoods, are increasingly being offered by local banks and employee credit unions </div>
 			<div class = "content_title"><a href="http://online.wsj.com/article/SB10001424052970203806504577183240533438580.html">Bashing Payday Lenders</a></div>
			<div class = "news_byline">WSJ, January 31, 2010</div>
 			<div class = "base_content">One irony of the Pelosi Congress's rush to punish banks and other financial institutions is that it has raised the price of credit for everyone, especially the poor.</div>
 		</div> 			
	</div>
 	<div class= "pdh_box">
 		<div class = "pdh_research_title">THE PAYDAY HOUND RESEARCH
 		</div>
 		<div class = "pdh_row">
 			<div class = "pdh_content_lft">
 				<div class = "pdh_content_box">
		 			<div class = "content_title"><a href="http://www.thepaydayhound.com/quick-fast-loans/">Find the Best Quick Fast Loans</a></div>
		 			<div class = "base_content">We evaluate five types of quick fast loans or loans that provide cash in less than 24 hours and can be repaid in 14 days. We then evaluated these five types of loans based on cost and lender requirements.</div>
				</div>
				<div class = "pdh_content_image"><img src="http://www.thepaydayhound.com/wp-content/uploads/2012/05/Quick-Fast-Loans-sm.png" alt="quick fast loans" height="67" width="100" /></div>
				<div class="base_more"><a href="http://www.thepaydayhound.com/quick-fast-loans/">More>></a></div>
	 		</div>	
 			<div class = "pdh_content_rt">
 				<div class = "pdh_content_box">
		 			<div class = "content_title"><a href="http://www.thepaydayhound.com/payday-loan-or-installment-loan/">Payday Loan or Installment Loan</a></div>
		 			<div class = "base_content">There are two types of short term loans in the market that are underwritten based on your pay check: payday loans and installment loans.</div>
				</div>
				<div class = "pdh_content_image"><img src="http://www.thepaydayhound.com/wp-content/uploads/2012/05/payday-or-installment-loan-sm.png" alt="payday or term" height="103" width="100" /></div>
				<div class="base_more"><a href="http://www.thepaydayhound.com/payday-loan-or-installment-loan/">More>></a></div>
 			</div>
 		</div>
 		<div class = "pdh_row">
 			<div class = "pdh_content_lft">
 				<div class = "pdh_content_box">
		 			<div class = "content_title"><a href="http://www.thepaydayhound.com/choosing-a-payday-loan/">Choosing a Payday Loan</a></div>
		 			<div class = "base_content">Choosing a payday loan requires finding a lender who will treat you fairly and offer you the best price. In general, all else considered equal, The Payday Hound choice is to find the lowest priced, state licensed lender.</div>
				</div>
				<div class = "pdh_content_image"><img src="http://www.thepaydayhound.com/wp-content/uploads/2012/05/choosing-a-payday-loan-sm.png" alt="payday loan choices" height="86" width="100" /></div>
				<div class="base_more"><a href="http://www.thepaydayhound.com/choosing-a-payday-loan/">More>></a></div>
	 		</div>	
 			<div class = "pdh_content_rt">
 				<div class = "pdh_content_box">
		 			<div class = "content_title"><a href="http://www.thepaydayhound.com/how-payday-loans-work/">How Payday Loans Work</a></div>
		 			<div class = "base_content">Payday loans are designed to meet short-term, emergency cash needs. They were created to get cash into a borrower’s hands as quickly as possible. The application process is streamlined with minimal documentation.</div>
				</div>
				<div class = "pdh_content_image"><img src="http://www.thepaydayhound.com/wp-content/uploads/2012/05/how-payday-loans-work-sm.png" alt="quick fast loans" height="67" width="100" /></div>
				<div class="base_more"><a href="http://www.thepaydayhound.com/how-payday-loans-work/">More>></a></div>
 			</div>
 		</div>
 		
 	</div>
 </div>

<!-- custom body text -->

