[Desktop Entry]
Encoding=UTF-8
Name=Link to wellsfargo.png
Type=Link
URL=https://dl-web.dropbox.com/get/PDH/pdh%20v2.1/assets/lendersm/wellsfargo.png?w=8c0de33f
Icon=text-html
