<% # title and description for seo %>
<% content_for :seotags do %>
<title>Installment Loans: In-depth Reviews and Independent Rankings</title>
<meta name="description" content="Detailed, fair, independent reviews and rankings of installment loans. The Payday Hound reviews more online  installment loan lenders than anyone else we know."/>
<% end %>

<div id="wrapper">
<aside id ="sidebar">

		<%= render(:partial => "shared/sidebar")%>


</aside>


<section id="mainContent">
  <h1>Installment Loans</h1> 
  	<p>Payday installment loans are designed for short-term, emergency funding and can get cash into your checking account in 24 hours. Installment loans have an extended payback period when compared to traditional payday loans. Like payday loans the fees can be expensive because of their simplicity and availability regardless of credit so review all fees and terms before accepting a payday installment loan.</p>
	<p>Payday installment loans do not require credit checks and use a simple application. The money is usually deposited into your checking account by the next business day. To qualify you must have direct deposit, a checking account and be employed. The application process takes 5-10 minutes and approval is often instant. Installment loans have a longer payback period than traditional payday loans. See <%= link_to('Payday Loan or Installment Loan', "http://www.thepaydayhound.com/payday-loan-or-installment-loan/") %> for more details).</p>
	<p>The Payday Hound reviews online lenders and ranks them according our Sniff Test, costs and licensing. The Sniff evaluates lender trust and evaluates criteria such as where they are licensed and the presence of a privacy policy. Below is a full list of the <%= pluralize(@lenders.size, 'lender') %> we review.</p> 
	<p>Use the loan finder to the left to find a lender best for you.</p>
    

    <%= render(:partial => "table")%>
    
    </table>  

</section>
</div>