<div id ="sidebar">

		<%= render(:partial => "shared/sidebar")%>


</div>



<div id="mainContent">
		
	<h1>Why The Payday Hound?</h1>
							
	<div class="content">
		<h3>Who are we?</h3>
		<p>The Payday Hound is an online payday loan review site. We aim to review more payday lenders and in more depth than any other resource. We visit each lender’s site, fill out applications, and call the phone numbers. We basically kick the tires to see what’s what and record our results here. Even with this level of research, we realize we are a small team and that no two experiences are the same. So we also provide a user generated review and ranking system. Finally, we welcome lender feedback in this section as well so everyone can hear both sides of the story.</p>
		<p>Our aim is to provide an impartial, fact based, space for users to make informed decisions on finding the best payday loan for their needs.</p>
		<p>The Pay Day Hound is operated by Contigo Direct LLC, a Nevada-based limited liability company. It is in good standing with the State of Nevada.</p>
		<h3>What we do?</h3>
		<p>We are consumer finance professionals and online marketers. We have worked in the consumer loan and credit card industry for twenty years. We combine this experience with our design experience to provide clear and honest reviews in a simple to use format.</p>
		<h3>Are you storing my personal information?</h3>
		<p>No, we do not collect any personal information. You will notice that we don’t require your name or your email address when using our site. When you are ready to apply, you are sent directly to the lender’s site.</p>
	</div>	

</div>