<% # title and description for seo %>
<% content_for :seotags do %>
<title>The Payday Hound About Page: In-depth Reviews and Independent Rankings</title>
<meta name="description" content="The Payday Hound is an online payday loan review site. We are consumer finance professionals and aim to review more payday lenders than any other resource."/>
<% end %>



<div id="wrapper">
<aside id ="sidebar">

		<%= render(:partial => "shared/sidebar")%>


</aside>



<section id ="mainContent">
		
	<h1>About The Payday Hound</h1>
							
		<h2>Who are we?</h2>
		<p>The Payday Hound is an online payday loan review site. We aim to review more payday lenders and in more depth than any other resource. We visit each lender’s site, fill out applications, and call the phone numbers. We basically kick the tires to see what’s what and record our results here. Even with this level of research, we realize we are a small team and that no two experiences are the same. So we also provide a user generated review and ranking system. Finally, we welcome lender feedback in this section as well so everyone can hear both sides of the story.</p>
		<p>Our aim is to provide an impartial, fact based, space for users to make informed decisions on finding the best payday loan for their needs.</p>
		<p>The Pay Day Hound is operated by Contigo Direct LLC, a Nevada-based limited liability company. It is in good standing with the State of Nevada.</p>
		<h2>What we do?</h2>
		<p>We are consumer finance and design professionals and have worked in the consumer loan and credit card industry for twenty years. We combine this experience with our design experience to provide clear and honest reviews in a simple to use format.</p>
		<h2>Are you storing my personal information?</h2>
		<p>No, we do not store any personal information. You will notice when you apply direct to a lender we do not even ask for your name or eamil address. Instead when you are ready to apply, you are sent directly to the lender’s site.</p>
		<p>If you use our <%= link_to("loan application service", "http://payday-loan-apply.thepaydayhound.com") %> we collect application information to submit to multiple lenders in our network making it very easy to apply to multiple lenders with one form.</p> 

		<p><%= link_to "sitemap", :controllers => "infos", :action => "sitemap" %></p>

</section>
</div>