
<div id="wrapper">
<aside id ="sidebar">

		<%= render(:partial => "shared/sidebar")%>

</aside>

<section id ="mainContent">
		
	<h1>About The Payday Hound</h1>
							
		<h2>Who are we?</h2>
		<p>The Payday Hound ranks and reviews alternative financial products such as prepaid cards, secured cards and payday loans. Although one in four households use these products this market is largely neglected. There is a strong lack of informed, fact-based tools and reviews to help users sort through the numerous product variations.</p> 
		<p>We want to change this. We focus on the needs of the unbanked or underbanked. We understand secured credit cards, pre-paid cards, payday loans and installment loans better than anyone else. We aim to review more of these products and in more depth than any other resource. We visit each lender’s site, fill out applications, read the fine print and call the phone numbers. We basically kick the tires and then bring you the facts in easy to use tools and concise reviews. </p> 
		<p>Our aim is to provide an impartial, fact based, space for consumers to make informed financial decisions.</p>
		<p>Each product section includes tools and analyses to help you quickly and easily find the products that best meet your needs. Unlike other credit card evaluation tools our Secured Card Cost and Pre-paid Cost Calulators are custom designed around the unique features of these products to evaluate the cost using a secured or pre-paid card. Each calculater can be customized based on your usage patterns. Our Payday Loan Finder filters available lenders by geography and ranks them based on a variety of criteria. See <%= link_to("How Our Rankings Work", {:controller => 'infos', :action => 'why'}) %> for more details.</p>
		<p>Our resources sections provides custom analyses and reviews on how to evaluate and understand the different products. Each reviews generally includes simple, easy to understand graphics and tables. The aim of our resources section is to help users make informed financial decisions.</p>
		<p>The Pay Day Hound is operated by Contigo Direct LLC, a Nevada-based company.</p>
		<h2>What we do?</h2>
		<p>We are consumer finance professionals who have worked in the consumer loan and credit card industry for twenty years. We combine this experience with a belief that clear and honest reviews in a simple, well-designed site will help users make better buying decisions.</p>
		<h2>Are you storing my personal information?</h2>
		<p>No, we do not store any personal information. You will notice when you apply for a product we do not even ask for your name or eamil address. Instead when you are ready to apply, you are sent directly to the financial providers’s site.</p>
		<p>If you use our <%= link_to("payday loan application service", "http://payday-loan-apply.thepaydayhound.com") %> we collect application information to submit to multiple lenders in our network making it very easy to apply to multiple lenders with one form.</p> 


</section>
</div>