<div id="wrapper">
<aside id ="sidebar">

		<%= render(:partial => "shared/sidebar")%>


</aside>



<section id="mainContent">
		
	<h1>Contact Us</h1>

			<h3>The Payday Hound</h3>
				<p>Contigo Direct LLC<br />
					2360 Corporate Circle – Suite 400<br />
					Henderson, NV<br />
					89074-7722</p>
				<p>702.932.4069<br /><span class="code">&#x6d;&#x6f;&#x63;&#x2e;&#x64;&#x6e;&#x75;&#x6f;&#x68;&#x79;&#x61;&#x64;&#x79;&#x61;&#x70;&#x65;&#x68;&#x74;&#x40;&#x6b;&#x63;&#x61;&#x62;&#x64;&#x65;&#x65;&#x66;</span></p>
			<h3>Payday Hound Users</h3>
			<p>If you don’t see a lender or card that you would like reviewed by The Payday Hound team, send us an email and we’ll review them. Thank you.</p>
			<h3>Payday Lenders</h3>
			<p>Our reviews are based on our independent analysis of your offerings using your website, conversations with your call center, domain registration data and Better Business Bureau reviews. If we’ve misrepresented your business, please send us an email with supporting data and we will correct it. In addition if you'd like us to review your offering please let us know. sThank you.</p>

</section>
</div>