<div id="wrapper">
<aside id ="sidebar">

		<%= render(:partial => "shared/sidebar")%>


</aside>



<section id="mainContent">
		
	<h1>Contact Us</h1>

		
		<%= render(:partial => "shared/contact")%>
		

			<h3>Payday Hound Users</h3>
			<p>If you don’t see a lender or card that you would like reviewed by The Payday Hound team, send us an email and we’ll review them. Thank you.</p>
			<h3>Financial Service Providers</h3>
			<p>Our reviews are based on our independent analysis of your offerings using your website, conversations with your staff, domain registration data and Better Business Bureau reviews. If we’ve misrepresented your business, please send us an email with supporting data and we will correct it. In addition if you'd like us to review your offering please let us know. Thank you.</p>

</section>
</div>