<section id="mainContent">
		
	<h1>Contact Us</h1>

		
		<%= render(:partial => "shared/contact")%>
		
			<h3>The Simple Card Users</h3>
			<p>We've aimed to design a great service to help you keep track of your credit card and find great deals. If you have additional ideas or features that would be helpful to you we'd love to hear them. Please send us an email and we'll try and make it happen. Thank you.</p>
			<h3>Financial Service Providers</h3>
			<p>Our reviews are based on our independent analysis of your offerings using your website, conversations with your call center, domain registration data and Better Business Bureau reviews. If we’ve misrepresented your business, please send us an email with supporting data and we will correct it. In addition if you'd like us to review your offering please let us know. Thank you.</p>

</section>
