<div id="wrapper">

<aside id ="sidebar">

		<%= render(:partial => "shared/sidebar")%>


</aside>



<section id="mainContent">
		
		<h1>Jobs</h1>
		
		<h2>What is The Payday Hound?</h2>
			<p>The Payday Hound is an online payday loan review site. We aim to review more online payday lenders and in more depth than any other resource. Our goal is provide an impartial, fact-based space for users to make informed decisions on finding the best payday loan for their needs.</p>
		<h2>What Does The Payday Hound Value?</h2>
			<p>The Payday Hound relies on strong analytics and clean design. Our team has a background in consumer finance, direct response and	online marketing. We believe in using analytics to find creative solutions to improve the world. We believe if we are doing the right things we will generate profits.</p>
		<h2>What If I Am Interested In a Current Opening?</h2>
			<p>If you are interested in any of the current openings below, contact <span>moc.dnuohyadyapeht@sboj</span>.</p>
		<h2>CURRENT OPENINGS (2)</h2>
			<h3>Intern Analyst</h3>
			<p><strong>Job Description</strong></p>
			<p>Overview: We are looking for a part-time Intern Analyst to help with research and online marketing. As an intern, your hours are very flexible and a large part of your work can be done from home.</p>
			<p>Requirements: The intern will help research and promote our website via online directories and blogs. We are looking for a hard working responsible intern who has,</p>
				<ul>
					<li>Extreme attention to detail</li>
					<li>Proactive, take-charge attitude</li>
					<li>Capacity for independent initiative</li>
					<li>Multi-tasking ability</li>
					<li>Strong interpersonal skills</li>
				</ul>
			<p>The intern will work with a team that has deep, industry leading experience in online marketing. Specifically, he or she will gain skills in,</p>
				<ul>
					<li>Integrated SEO and SEM Marketing</li>
					<li>Online Advertising</li>
					<li>Reporting and Analytics</li>
					<li>Market &amp; Competitive Research</li>
					<li>Customer Segmentation &amp; Keyword Research Strategies</li>
					<li>Industry Research</li>
				</ul>
			<p>Educational requirement: Undergraduate student with analytical thought process from top university. All majors are fine.</p>		<p>Location: New York City<br>
			Hours: Flexible</p>
			<h3>Payday Loan Researcher</h3>
			<p><strong>Job Description</strong></p>
			<p>Overview: We are looking for Payday Loan Researchers to help evaluate payday lenders and monitor the industry from consumer perspective. You will evaluate lenders using The Payday Hound’s scorecard. Lender evaluation will include websites, customer service and the application process. You will review and rank the entire experience.</p>
			<p>Requirements: We are looking for individuals who have the ability to differentiate, judge and evaluate options and who has,</p>
				<ul>
					<li>Strong attention to detail</li>
					<li>Hardworking, reliable and trustworthy</li>
					<li>Experience with payday loans preferred</li>
					<li>Bachelors Degree</li>
					<li>Basic familiarity with MS Excel</li>
				</ul>
					<p>Hours: Flexible, work from home.</p>

</section>

</div>