<% # nofollow noindex tags %>
<% content_for :followtags do %>
<meta name="robots" content="noindex, nofollow"/>	
<% end %>


<div id="wrapper">
<aside id ="sidebar">

		<%= render(:partial => "shared/sidebar")%>


</aside>



<section id="mainContent">
		
	<h1>Privacy Policy</h1>
			<p>This Privacy Statement governs your access to and use of 
www.thepaydayhound.com (“Site”). By accessing or using the Site, you are
 agreeing to the Privacy Statement and concluding a legally binding 
contract with Contigo Direct LLC, a Nevada-based limited liability 
company that owns and operates the Site (“Contigo”). Do not access or 
use the Site if you are unwilling or unable to be bound by this Privacy 
Statement.  Contigo and its affiliated Web sites respect your privacy. 
This Privacy Statement applies to information collection and usage on 
the Site.</p>
			<p><h2>Collection of Personal Information</h2><br>
			You may visit the Site without submitting any personally identifiable
 information about yourself. We do collect clickstream data about all 
users of the Site, including behavioral data, IP addresses, log files 
and traffic data.</p>
			<p>The submission of personal information (such as your e-mail 
address, name, home or work address, telephone number, social security 
number and financial information) may be required in order to obtain 
certain products or services available on the Site.</p>
			<p>We may also collect demographic information such as your postal 
code, age, gender, interests and preferences. Submission of any such 
information may be in the form of surveys, contest entries or other 
information requests and is voluntary.</p>
			<p>We collect non-public personal information about you from the 
following sources:  Information we receive from you through our Web 
sites, including forms and applications completed by you; Information 
about your transactions with us and the companies that work with us to 
provide products and services to you; Information about you that we may 
receive from credit reporting agencies or other third parties.</p>
			<p>Your reviews, tips, and other content you post to the Site are 
meant for public consumption. We may display this content on the Site, 
and further distribute it to a wider audience through third party sites 
and services. Other users may be able to identify you if you include 
personal information in the content you post on the Site.</p>
			<p><h2>Use and Disclosure of Personal Information</h2><br>
			Information collected from or about you through the Site may be combined with other information collected or acquired by us.</p>
			<p>We may disclose all of the information we collect from or about 
you to third parties to provide the products and services requested by 
you. You consent to such disclosures by requesting products or services 
on the Site. You understand and agree that such third parties may use, 
analyze and further disclose the information in order to provide you 
with the products and services you have requested.</p>
			<p>We may use all of the information we collect from or about you for
 purposes of analyzing user behavior, improving our Web sites, improving
 our products and ervices, researching our users needs and otherwise for
 development of our Web sites. In some cases, we may contract with third
 parties to perform these activities for us and may disclose personally 
identifiable information about you to such third party vendors. Such 
third party vendors will be required to maintain the confidentiality of 
your personally identifiable information and will be prohibited from 
using the information for any other purpose.</p>
			<p>The Site contains links to unaffiliated third party websites. We may share personally information about you with them when you request products or services on this site and are not responsible for their privacy practices. We suggest you read the privacy policies on all such third party websites. Other than as set forth above or as required or permitted under applicable law, we will not disclose personally identifiable information about you to any non-affiliated third parties.</p>
			<p>We may use the information collected from and about you to 
periodically send you promotional or information messages. You agree 
that we may send you information messages about products or services 
requested by you and any activities related thereto. With respect to 
other promotional and information messages, you will be given the option
 of opting out of further receipt of such messages each time a message 
is sent.</p>
			<p>We may use and disclose non-personally identifiable information, whether in the aggregate or otherwise, for any purpose.</p>
			<p><h2>Cookies &amp; Web Beacons</h2><br>
			The Site uses cookies to recognize you when you visit the Site, to 
personalize your experience and to enhance your experience. Cookies are 
small text files that are placed on your computer’s hard drive by our 
computers that help us identify your computer and track traffic 
patterns. Cookies may have unique identifiers, and reside, among other 
places, on your computer, in emails we send to you, and on our web 
pages. Cookies may transmit information about you and your use of the 
Site, such as your browser type, search preferences, data relating to 
advertisements that have been displayed to you or that you have clicked 
on, and the date and time	of your use.If you don’t want to receive 
cookies, you can set your browser to warn you before accepting cookies 
and refuse the cookie when your browser alerts you to its presence. You 
can also refuse all cookies by turning them off in your browser; please 
be aware, however, that if you disable cookies there may be portions of 
features of the Site that will not operate properly. Information 
obtained from or about you may be stored in a cookie on your hard drive 
and may be	used, among other things, to pre-fill forms and applications 
on the Site. </p>
			<p>Contigo may use Web beacons (also referred to as pixel tags or single-pixel gifs) to measure site usage and behavior.</p>
			<p><h2>Storage and Security of Personal Information</h2><br>
			Contigo uses a variety of security technologies and procedures to 
protect your personal information from unauthorized access. We restrict 
access to non-public personal information about you only to those that 
need to know the information in order to provide products or services to
 you. We maintain physical, electronic and other procedural safeguards 
to comply with applicable privacy laws to protect your non-public 
personal information. However, if your information is forwarded to a 
third party provider, your information will be transmitted according to 
security and privacy policies and practices of such third party 
provider.  As stated above (see, Use and Disclosure of Personal 
Information), we may disclose all of the information we collect from or 
about you to third parties to provide the	products and services 
requested by you. You consent to such disclosures by requesting products
 or services on the Site.</p>
			<p>The information we obtain from or about you may be processed and 
stored in the United States of America. We may keep it as long as is 
permitted or required under the law to ensure our ability to satisfy the
 authorized uses under this Privacy Statement. For example, we may use 
retained data to prevent, investigate, or identify possible wrongdoing 
in connection with the Site or to comply with legal obligations. Please 
note that information may exist in backup storage even after	it has been
 removed from our active databases.</p>
			<p><h2>Changes to the Privacy Statement</h2><br>
			We may periodically update this Privacy Statement to reflect customer
 feedback and current practices by updating this Privacy Statement on 
our Web sites. Please be sure to check back frequently.</p>
			<p>Contigo would like to hear from you regarding this Privacy 
Statement.  If you have feedback or believe that we have violated this 
Privacy Statement, please email us at <span class="code">moc.dnuohyadyapeht@kcabdeef</span></p>
			<p><h2>Copyright Policy</h2><br>
			Contigo has adopted the following general policy toward copyright 
infringement in accordance with the Digital Millennium Copyright Act. 
The address of Contigo’s	Designated Agent to Receive Notification of 
Claimed Infringement (“Designated Agent”) is <span class="code">moc.dnuohyadyapeht@kcabdeef</span></p>
			<p>It is Contigo’s policy to (1) block access to or remove material 
that it believes in good faith to be copyrighted material that has been 
illegally copied and distributed by any of our users; and (2) remove and
 discontinue service to repeat offenders.</p>
			<p><h3>A. Procedure for Reporting Copyright Infringements:</h3><br>
			If you believe that material or content residing on the Site 
infringes a copyright, please send a notice of copyright infringement 
containing the following information, in English, to the Designated 
Agent at <span class="code">moc.dnuohyadyapeht@kcabdeef</span></p>
			<ul>
				<li>A physical or electronic signature of a person authorized to act
 on behalf of the owner of the copyright that has been allegedly 
infringed;</li>
				<li>Identification of works or materials being infringed;</li>
				<li>Identification of the material that is claimed to be infringing 
including information regarding the location of the infringing materials
 that the 	copyright owner seeks to have removed, with sufficient detail
 so that Contigo is capable of finding and verifying its existence;</li>
				<li>Contact information about the notifier including address, telephone number and, if available, e-mail address;</li>
				<li>A statement that the notifier has a good faith belief that the 
material is not authorized by the copyright owner, its agent, or the 
law; and </li>
				<li>A statement made under penalty of perjury that the information 
provided is accurate and the notifying party is authorized to make the 
complaint on 	behalf of the copyright owner. </li>
			</ul>
			<p><h3>B. Once Proper Bona Fide Infringement Notification is Received by the Designated Agent:</h3></p>
			<ul>
				<li>It is Contigo’s policy to remove or disable access to the infringing material;</li>
				<li>to notify the complaining party that the content has been removed or access to the material disabled; and </li>
				<li>that repeat offenders will have the infringing material removed 
from the system and that Contigo will terminate such user’s access to 
the website and service.</li>
			</ul>
			<p><h3>C. Procedure to Supply a Counter-Notice to the Designated Agent:</h3><br>
			If the user believes that the material that was removed or to which 
access was disabled is either not infringing, or the user believes that 
it has the right to post and use such material from the copyright owner,
 the copyright owner’s agent, or pursuant to the law, the user must send
 a counter-notice containing the	following information, in English, to 
the Designated Agent:</p>
			<ul>
				<li>A physical or electronic signature of the user;</li>
				<li>Identification of the material that has been removed or to which
 access has been disabled and the location at which the material 
appeared before it was removed or disabled;</li>
				<li>A statement that the user has a good faith belief that the 
material was removed or disabled as a result of mistake or a 
misidentification of the 	material;	and</li>
				<li>User’s name, address, telephone number, and, if available, 
e-mail address and a statement that such person or entity consents to 
the jurisdiction of the Federal Court for the judicial district in which
 the user’s address is located, or if the user’s address is located 
outside the United States, for any judicial district in which Contigo is
 located, and that such person or entity will accept service of process 
from the person who provided notification 	of the alleged	infringement.</li>
			</ul>
			<p>If a counter-notice is received by the Designated Agent, Contigo 
may send a copy of the counter-notice to the original complaining party 
informing that person that it may replace the removed material or cease 
disabling it in 10 business days. Unless the copyright owner files an 
action seeking a court order against the user, the removed material may 
be replaced or access to it restored in 10 to 14 business days after 
receipt of the counter-notice, at Contigo’s discretion.</p>
			<p>The Designated Agent for notice of claims of copyright or other intellectual property infringement can be reached at: <span class="code">moc.dnuohyadyapeht@kcabdeef</span></p>
			<p>Please note that, due to security concerns, attachments cannot be 
accepted. Accordingly, any notification of infringement submitted 
electronically with an attachment will not be received or processed.</p>

</section>
</div>