<div id ="sidebar">

		<%= render(:partial => "shared/sidebar")%>


</div>



<div id="mainContent">
		
	<h1>Why The Payday Hound?</h1>
							
	<div class="content">

		<h1>Terms of Use</h1>
	
		<div>
			<p>March 22, 2012These terms and conditions (the &#8220;Terms&#8221;) govern your access to and use of www.thepaydayhound.com (&#8220;Site&#8221;). By accessing or using the Site, you are agreeing to these Terms and concluding a legally binding contract with Contigo Direct LLC, a Nevada-based limited liability company that owns and operates the Site (&#8220;Contigo&#8221;). Do not access or use the Site if you are unwilling or unable to be bound by the Terms.</p>
			<p><strong>DEFINITIONS</strong><br />
				1. Parties<br />
				&#8220;You&#8221; and &#8220;your&#8221; refer to you, as a user of the Site. A &#8220;user&#8221; is someone who accesses, browses, crawls, scrapes, or in any way uses the Site, and includes any payday lender, installment lender or matching service provider listed on the site, whether sponsored or not sponsored. &#8220;We&#8221;, &#8220;us&#8221;, and &#8220;our&#8221; refer to Contigo.<br />
				2. Content<br />
				&#8220;Content&#8221; means text, images, photos, audio, video and all other forms of data or communication. &#8220;Your Content&#8221; means Content that you submit or transmit to, through, or in connection with the Site, such as your name, ratings, reviews, compliments, and information that you publicly display. &#8220;User Content&#8221; means Content that users submit or transmit to, through, or in connection with the Site. &#8220;Site Content&#8221; means Content that we create and make available in connection with the Site. &#8220;Third Party Content&#8221; means Content that originates from parties other than us or the Site’s users, which is made available in connection with the Site.</p>
				<p><strong>CHANGES TO TERMS OF SERVICE</strong><br />
					We may modify the Terms from time to time. When changes are made, we will notify you by making the revised version available on this webpage, and will indicate at the top of this page the date that revisions were last made. You should revisit these Terms on a regular basis as revised versions will be binding on you. Any such modification will be effective upon our posting of new Terms. You understand and agree that your continued access to or use of the Site after any posted modification to the Terms indicates your acceptance of the modification.</p>
				<p><strong>USING THE SITE</strong><br />
					1. Eligibility<br />
					To access or use the Site, you must be 18 years or older and have the requisite power and authority to enter into these Terms. You may not access or use the Site if you are a competitor of ours or if we have previously banned you from the Site.<br />
					2. Permission to Use the Site<br />
					We grant you permission to use the Site subject to the restrictions in these Terms. Your use of the Site is at your own risk, including the risk that you might be exposed to Content that is offensive, indecent, inaccurate, objectionable, or otherwise inappropriate.<br />
					3. Site Availability<br />
					The Site may be modified, updated, interrupted, suspended or discontinued at any time without notice or liability to us.<br />
					4. User Comments<br />
					In providing comments on the Site, you may not impersonate someone else (e.g., adopt the identity of a celebrity or your next-door neighbor) or provide information about anyone other than yourself. If you use a pseudonym, take care to note that others may still be able to identify you if, for example, you include identifying information in your reviews, or use the same pseudonym on other sites. Please read our Privacy Policy for more information.</p>
					<p><strong>CONTENT</strong><br />
						1. Responsibility for Your Content<br />
						You alone are responsible for Your Content, and once published, it cannot always be withdrawn. You assume all risks associated with Your Content, including anyone&#8217;s reliance on its quality, accuracy, or reliability, or any disclosure by you of information in Your Content that makes you personally identifiable. You represent that you own, or have the necessary permissions to use and authorize the use of Your Content as described herein. You may not imply that Your Content is in any way sponsored or endorsed by Contigo.<br />
						You may expose yourself to liability if, for example, Your Content contains material that is false, intentionally misleading, or defamatory; violates any third-party right, including any copyright, trademark, patent, trade secret, moral right, privacy right, right of publicity, or any other intellectual property or proprietary right; contains material that is unlawful, including illegal hate speech or pornography; exploits or otherwise harms minors; or violates or advocates the violation of any law or regulation.<br />
						2. Our Right to Use Your Content<br />
						We may use Your Content in a number of different ways, including publicly displaying it, reformatting it, incorporating it into advertisements and other works, creating derivative works from it, promoting it, distributing it, and allowing others to do the same in connection with their own websites and media platforms (&#8220;Other Media&#8221;). As such, you hereby irrevocably grant us world-wide, non-exclusive, royalty-free, sublicensable, transferable rights to use Your Content for any purpose. You also irrevocably grant the users of the Site and any Other Media the right to access Your Content in connection with their use of the Site and any Other Media. Finally, you irrevocably waive, and cause to be waived, against Contigo and its users any claims and assertions of moral rights or attribution with respect to Your Content. By &#8220;use&#8221; we mean use, copy, publicly perform or display, distribute, modify, translate, and create derivative works of Your Content.<br />
						3. Ownership<br />
						As between you and Contigo, you own Your Content. We own the Site Content, including but not limited to visual interfaces, interactive features, graphics, design, compilation, computer code, products, software, aggregate user review ratings, and all other elements and components of the Site excluding Your Content, User Content and Third Party Content. We also own the copyrights, trademarks, service marks, trade names, and other intellectual and proprietary rights throughout the world (&#8220;IP Rights&#8221;) associated with the Site Content and the Site, which are protected by copyright, trade dress, patent, trademark laws and all other applicable intellectual and proprietary rights and laws. As such, you may not modify, reproduce, distribute, create derivative works or adaptations of, publicly display or in any way exploit any of the Site Content in whole or in part. We do not grant you any express or implied rights, and all rights in and to the Site and the Site Content are retained by us.<br />
						4. Advertising<br />
						Contigo and its licensees may publicly display advertisements and other information adjacent to or included with Your Content. You are not entitled to any compensation for such advertisements. The manner, mode and extent of such advertising are subject to change without specific notice to you.<br/>
						5. Other<br />
						User Content, Your Content and Third Party Content do not reflect the opinion of Contigo. We reserve the right to remove, screen, edit, or reinstate such content from time to time at our sole discretion and without notice to you. For example, we may remove a review if we believe it violates laws or regulations, or is offensive to other users. We have no obligation to retain or provide you with copies of Your Content, User Content or Third Party Content, nor do we guarantee any confidentiality with respect to such content.</p>
						<p><strong>RESTRICTIONS</strong><br />
							We are under no obligation to enforce the Terms on your behalf against another user. While we encourage you to let us know if you believe another user has violated the Terms, we reserve the right to investigate and take appropriate action at our sole discretion.<br />
							1. You agree not to, and will not assist, encourage, or enable others to use the Site to:</p>
							<ul>
								<li>Write a fake or defamatory review, trade reviews with other businesses, or compensate someone or be compensated to write or remove a review;</li>
								<li>Violate any third party&#8217;s rights, including any breach of confidence, copyright, trademark, patent, trade secret, moral right, privacy right, right of 								publicity, or any other intellectual property or proprietary right;</li>
								<li>Threaten, stalk, harm, or harass others, or promote bigotry or discrimination;</li>
								<li>Promote a business or other commercial venture or event, or otherwise use the Site for commercial purposes;</li>
								<li>Send bulk emails, surveys, or other mass messaging, whether commercial in nature or not; engage in keyword spamming, or otherwise attempt to manipulate the 								Site&#8217;s search results or any third party website;</li>
								<li>Solicit personal information from minors, or submit or transmit pornography; or</li>
								<li>Violate any applicable law.</li>
							</ul>
							<p>2. You also agree not to, and will not assist, encourage, or enable others to:</p>
							<ul>
								<ul>
									<li>Violate the Terms;</li>
									<li>Modify, adapt, appropriate, reproduce, distribute, translate, create derivative works or adaptations of, publicly display, sell, trade, or in any way exploit the Site or Site Content (other than Your Content);</li>
									<li>Use any robot, spider, site search/retrieval application, or other automated device, process or means to access, retrieve, scrape, or index any portion of the Site or any Site Content;</li>
									<li>Reverse engineer any portion of the Site;</li>
									<li>Remove or modify any copyright, trademark or other proprietary rights notice that appears on any portion of the Site or on any materials printed or copied from the Site;</li>
									<li>Record, process, or mine information about other users;</li>
									<li>Access, retrieve or index any portion of the Site for purposes of constructing or populating a searchable database of business reviews;</li>
									<li>Reformat or frame any portion of the Site;</li>
									<li>Take any action that imposes, or may impose, in our sole discretion, an unreasonable or disproportionately large load on Contigo&#8217;s technology infrastructure or otherwise make excessive traffic demands of the Site;</li>
									<li>Attempt to gain unauthorized access to the Site, user accounts, computer systems or networks connected to the Site through hacking, password mining or any other means;</li>
									<li>Use the Site or any Site Content to transmit any computer viruses, worms, defects, Trojan horses or other items of a destructive nature (collectively,&#8220;Viruses&#8221;);</li>
									<li>Use any device, software or routine that interferes with the proper working of the Site, or otherwise attempt to interfere with the proper working of the Site;</li>
									<li>Use the Site to violate the security of any computer network, crack passwords or security encryption codes; disrupt or interfere with the security of, or	otherwise cause harm to, the Site or Site Content; or</li>
									<li>Remove, circumvent, disable, damage or otherwise interfere with any security-related features of the Site, features that prevent or restrict the use or copying of Site Content, or features that enforce limitations on the use of the Site.</li>
								</ul>
							</ul>
							<p>The restrictions above only apply to the extent permissible under applicable law. Nevertheless, you agree not to act contrary to them (even if permissible 							under applicable law).</p>
							<p><strong>GUIDELINE AND POLICIES</strong><br />
							1. Content Guidelines<br />
							You represent that you have read and understood the Terms.<br />
							2. Privacy<br />
							We may collect non-personally identifiable information about you through a variety of technical methods, including the following:</p>
							<ul>
								<ul>
									<li>Collection of Usage Details and IP Address. As you navigate through this Site, we may collect details of your visits to this Site, including, but not limited to, traffic data, location data, logs, the resources that you access, and information about your computer and 		internet connection, including but not limited to	your IP address, operating system and browser type. We may use this information 	for 	system administration and to report aggregate information to our advertisers and business partners.</li>
									<li>Collection with Cookies. &#8220;Cookies&#8221; are pieces of information that a website sends to your computer while you are viewing a 	website. We may set and access cookies on your computer to track and store preferential information about you. You consent to our 	placement of cookies on your computer. Please note that most Internet browsers will allow you to stop cookies from being stored on 	your computer 	and to delete cookies stored on your computer. If you choose to do so, however, your use of certain aspects of this Site may be	restricted.</li>
									<li>Collection with Web beacons. &#8220;Web beacons&#8221; are electronic images, tags or scripts that allow a website to access cookies and help track general usage patterns of visitors to a website. Web beacons can recognize certain types of information, such as cookies, 	time 	and date of a page view, and a description of the page where the Web beacon is placed. We may use Web beacons to compile information regarding use of this Site.</li>
								</ul>
							</ul>
							<p>The information collected through these technical methods, standing alone, cannot be used to determine your identity. Such information may, however, be combined in a way that makes it become personally identifiable information. If this happens, we will treat the combined information as personally identifiable information</p>
							<p>You represent that you have read and understood our Privacy Policy. Note that we may disclose information about you to third parties if we have a good faith belief that such a disclosure is reasonably necessary to (i) take action regarding suspected illegal activities; (ii) enforce or apply our Terms and Privacy	Policy; (iii) comply with legal process or other government inquiry, such as a search warrant, subpoena, statute, judicial proceeding, or other legal process served on us; or (iv) protect our rights, reputation, and property, or that of our users, affiliates, or the public. To the extent required by laws outside of	the United States, if you use the Site outside of the United States, you consent to having your personal data transferred to and processed in the United States.</p>
							<p><strong>SUGGESTIONS AND IMPROVEMENTS</strong><br />
								By sending us any ideas, suggestions, documents or proposals (&#8220;Feedback&#8221;), you agree that (i) your Feedback does not contain the confidential or proprietary information of third parties, (ii) we are under no obligation of confidentiality, express or implied, with respect to the Feedback, (iii) we may have something similar to the Feedback already under consideration or in development, and (iv) you grant us an irrevocable, non-exclusive, royalty-free, perpetual, worldwide license to use, modify, publish, distribute and sublicense the Feedback.
							</p>
							<p><strong>THIRD PARTIES</strong><br />
								The Site may include links to other websites or applications (each, a &#8220;Third Party Site&#8221;). We do not control or endorse any Third Party Site. You	agree that we are not responsible for the availability or contents of such Third Party Sites. Your use of Third Party Sites is at your own risk. The Payday Hound may be compensated if consumers choose to utilize some of the links located throughout the Site and such use generates sales for the Third Party merchant. The	Payday Hound does not have investment or other financial relationships with such Third Party merchants other than the compensation for lead generation. Not all Third Party merchants listed on the Site compensate the Payday Hound for the leads generated via the Site; the “Sniff Test”, however, is not at all impacted by whether The Payday Hound receives compensation for lead generation. The Payday Hound at all times remains impartial.
							</p>
							<p><strong>INDEMNITY</strong><br />
								You agree to indemnify, defend, and hold Contigo, its parents, subsidiaries, affiliates, any related companies, suppliers, licensors and partners, and the officers, directors, employees, agents and representatives of each of them (collectively, the &#8220;Contigo Entities&#8221;) harmless, including costs, liabilities and legal fees, from any claim or demand made by any third party arising out of or relating to (i) your access to or use of the Site, (ii) your violation of the Terms, (iii) any products or services purchased or obtained by you in connection with the Site, or (iv) the infringement by you of any intellectual property or other right of any person or entity. Contigo reserves the right, at your expense, to assume the exclusive defense and control of any matter for which you are required to indemnify us and you agree to cooperate with our defense of these claims. You agree not to settle any matter without the prior written consent of Contigo. Contigo will use reasonable efforts to notify you of any such claim, action or proceeding upon becoming aware of it.</p>
							<p><strong>DISCLAIMERS AND LIMITATIONS OF LIABILITY<br />
								PLEASE READ THIS SECTION CAREFULLY SINCE IT LIMITS THE LIABILITY OF THE CONTIGO ENTITIES. EACH OF THE SUBSECTIONS BELOW ONLY APPLIES UP TO THE MAXIMUM EXTENT PERMITTED UNDER APPLICABLE LAW. NOTHING HEREIN IS INTENDED TO LIMIT ANY RIGHTS YOU MAY HAVE WHICH MAY NOT BE LAWFULLY LIMITED.<br/>
								1. THE SITE IS MADE AVAILABLE TO YOU ON AN &#8220;AS IS&#8221;, &#8220;WITH ALL FAULTS&#8221; AND &#8220;AS AVAILABLE&#8221; BASIS. YOUR USE OF THE SITE IS AT YOUR OWN DISCRETION AND RISK. THE CONTIGO ENTITIES MAKE NO CLAIMS OR PROMISES ABOUT THE QUALITY, ACCURACY, OR RELIABILITY OF THE SITE, ITS SAFETY OR SECURITY, OR THE SITE CONTENT. WE AIM TO KEEP INFORMATION ACCURATE AND UP-TO-DATE, HOWEVER WE DO NOT MAKE WARRANTIES REGARDING THE ACCURACY OF OUR INFORMATION. PLEASE VERIFY STATE LICENSING, FEES, INTEREST RATES AND OTHER LENDING TERMS DURING THE APPLICATION PROCESS. ACCORDINGLY, THE CONTIGO ENTITIES ARE NOT LIABLE TO YOU FOR ANY LOSS OR DAMAGE THAT MIGHT ARISE, FOR EXAMPLE, FROM YOUR RELIANCE ON THE QUALITY, ACCURACY, OR RELIABILITY OF THE BUSINESS LISTINGS, RATINGS, OR REVIEWS.<br />
								2. THE CONTIGO ENTITIES MAKE NO CLAIMS OR PROMISES WITH RESPECT TO ANY THIRD PARTY, SUCH AS THE BUSINESSES LISTED ON THE SITE OR THE SITE&#8217;S USERS. ACCORDINGLY, THE CONTIGO ENTITIES ARE NOT LIABLE TO YOU FOR ANY LOSS OR DAMAGE THAT MIGHT ARISE FROM THEIR ACTIONS, INCLUDING, FOR EXAMPLE, IF ANOTHER USER MISUSES YOUR CONTENT OR IDENTITY, OR IF YOU HAVE A NEGATIVE EXPERIENCE WITH ONE OF THE BUSINESSES OR LENDERS LISTED ON THE SITE. YOUR PURCHASE AND USE OF PRODUCTS OR SERVICES OFFERED BY THIRD PARTIES THROUGH THE SITE IS AT YOUR OWN DISCRETION AND RISK.<br />
								3. THE CONTIGO ENTITIES EXPRESSLY DISCLAIM ALL WARRANTIES, WHETHER EXPRESS OR IMPLIED, INCLUDING WARRANTIES AS TO THE PRODUCTS OR SERVICES OFFERED BY BUSINESSES LISTED ON THE SITE, AND IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, AND NON-INFRINGEMENT. NO ORAL OR WRITTEN INFORMATION OR ADVICE PROVIDED TO YOU BY A REPRESENTATIVE OF ONE OF THE CONTIGO ENTITIES, OR BY THE SITE, SHALL CREATE A REPRESENTATION OR WARRANTY.<br />
								4. YOUR SOLE AND EXCLUSIVE RIGHT AND REMEDY IN CASE OF DISSATISFACTION WITH THE SITE, RELATED SERVICES, OR ANY OTHER GRIEVANCE SHALL BE YOUR TERMINATION AND DISCONTINUATION OF ACCESS TO, OR USE OF THE SITE.<br />
								5. THE CONTIGO ENTITIES&#8217; MAXIMUM AGGREGATE LIABILITY TO YOU FOR LOSSES OR DAMAGES THAT YOU SUFFER IN CONNECTION WITH THE SITE OR THESE TERMS IS LIMITED TO THE GREATER OF (i) THE AMOUNT PAID, IF ANY, BY YOU TO THE CONTIGO ENTITIES IN CONNECTION WITH THE SITE IN THE 12 MONTHS PRIOR TO THE ACTION GIVING RISE TO LIABILITY, OR (ii) $100.<br />
								6. THE CONTIGO ENTITIES DISCLAIM LIABILITY FOR ANY (i) INDIRECT, SPECIAL, INCIDENTAL, PUNITIVE, EXEMPLARY, RELIANCE, OR CONSEQUENTIAL DAMAGES, (ii) LOSS OF PROFITS, (iii) BUSINESS INTERRUPTION, (iv) REPUTATIONAL HARM, OR (v) LOSS OF INFORMATION OR DATA.</strong>
							</p>
							<p><strong>CHOICE OF LAW AND VENUE</strong><br />
								Nevada law will govern these Terms, as well as any claim, cause of action or dispute that might arise between you and Contigo (a &#8220;Claim&#8221;), without regard to conflict of law provisions. FOR ANY CLAIM BROUGHT BY EITHER PARTY, YOU AGREE TO SUBMIT AND CONSENT TO THE PERSONAL AND EXCLUSIVE JURISDICTION IN, AND THE EXCLUSIVE VENUE OF, THE STATE AND FEDERAL COURTS LOCATED WITHIN NEVADA.
							</p>
							<p><strong>SUSPENSION</strong><br />
								1. We may suspend your ability to use certain portions of the Site, and/or ban you altogether from the Site for any or no reason, and without notice or liability of any kind. Any such action could prevent you from accessing the Site, Your Content, Site Content, or any other related information.
							</p>
							<p><strong>GENERAL TERMS</strong><br />
								1. We reserve the right to modify, update, or discontinue the Site at our sole discretion, at any time, for any or no reason, and without notice or liability.<br />
								2. We may provide you with notices, including those regarding changes to the Terms by email, regular mail or communications through the Site.<br/>
								3. Except as otherwise stated in section DISCLAIMERS AND LIMITATIONS OF LIABILITY above, nothing herein is intended, nor will be deemed, to confer rights or remedies upon any third party.<br />
								4. The Terms contain the entire agreement between you and us regarding the use of the Site, and supersede any prior or other agreement between you and us on such subject matter. The parties acknowledge that no reliance is placed on any oral or written representation made but not expressly contained in these Terms.<br />
								5. Any failure on Contigo&#8217;s part to exercise or enforce any right or provision of the Terms does not constitute a waiver of such right or provision. The failure of either party to exercise in any respect any right provided for herein shall not be deemed a waiver of any further rights hereunder.<br />
								6. If any provision of the Terms is found to be unenforceable or invalid, that provision shall be limited or eliminated to the minimum extent necessary so that the Terms shall otherwise remain in full force and effect and enforceable.<br />
								7. The Terms are not assignable, transferable or sublicensable by you except with Contigo&#8217;s prior written consent, but may be assigned or transferred by us without restriction. Any assignment attempted to be made in violation of the Terms shall be void.<br />
								8. The section titles in the Terms are for convenience only and have no legal or contractual effect.
							</p>
		</div>

	</div>
	
	
</div>