<% # nofollow noindex tags %>
<% content_for :followtags do %>
<meta name="robots" content="noindex, nofollow"/>	
<% end %>



<section id="mainContent">
		<%= render(:partial => "shared/terms")%>
</section>
