<div id ="sidebar">

		<%= render(:partial => "shared/sidebar")%>


</div>



<section id="mainContent">
		
	<h1>Why The Payday Hound?</h1>
							
	<div class="content">
		<h3>Why use The Payday Hound?</h3>
		<p>The Payday Hound is designed to help make informed decisions about finding the best payday loan for them.</p>
		<p>We aim to be impartial and informed.  We strive to review every online payday lender in the market.</p>
		<p>We provide a place for user and lender feedback. We welcome comments from both users on experiences and responses by lenders.</p>
		<p>The Payday Hound believes providing clear, honest information will help both lenders and borrowers create a better experience for everyone.</p>

		<h3>How do we make money?</h3>
		<p>The Payday Hound's reviews and rankings are free to users and the site is free of advertising. To keep this service free, we charge some lenders when users click through to lenders’ sites and either apply or are approved for loans. This sponsored lender relationship exists with less than 25% of the listed lenders. This may hurt monetization, but we believe evaluating all lenders regardless of financial relationship helps consumers make informed, better decisions regarding their short-term loan needs. We do not identify sponsored lenders to ensure that a paid relationship is not interpreted as an endorsement. We believe if we provide honest and impartial reviews, users will continue to trust our reviews, and we’ll be able to make enough money to keep providing this service.</P></p>
		<p>If you know of a lender we don’t feature, please email us at <span class="code">&#109;&#111;&#099;&#046;&#100;&#110;&#117;&#111;&#104;&#121;&#097;&#100;&#121;&#097;&#112;&#101;&#104;&#116;&#064;&#107;&#099;&#097;&#098;&#100;&#101;&#101;&#102;</span>.</p>

		<h3>How do our rankings work?</h3>
		<p>The Payday Hound ranks each site based on a &#8220;Sniff Test,&#8221; pricing, and features.</p>
		<p>SNIFF TEST: Lenders score higher on the Sniff Test if they are licensed in each state in which they operate, have physical storefronts, are US based, display contact information, and have a privacy policy. The Sniff Test also incorporates Better Business Bureau ratings, accreditation and complaints.</p>
		<p>COST: Pricing is based on the cost of a $300, 14-day, payday loan in the State of Delaware.</p>
		<p>FEATURES: The Features sections located in each lender's individual review is based on features that differentiate lenders. For example, some lenders provide live chat or phone support, have applications in Spanish, or do not require references. Standard features, such as faxless applications and next business day funding only impact lenders if they do not provide these standard features.</p>
	</div>	
</div>