
<div id="wrapper">
<aside id ="sidebar">

		<%= render(:partial => "shared/sidebar")%>


</aside>



<section id="mainContent">
		
	<h1>Why The Payday Hound?</h1>
							
		<h2>Why use The Payday Hound?</h2>
		<p>The Payday Hound is designed to help users make informed decisions about financial products.</p>
		<p>We aim to be impartial and informed. We specialize in alternative financial products like secured cards and payday loans.
		<p>We provide tools designed to evaluate these specific products and concise analysis for users in a hurry to quickly find the right choice for them. In addition we provide in-depth reviews and articles to help users requiring more information to better understand the products and important features.</p>
		<p>The Payday Hound believes providing clear, honest information will help users make better financial choices.</p>

		<h2>How do we make money?</h2>
		<p>The Payday Hound's reviews and rankings are free to users and the site is free of advertising. To keep this service free, we charge some product providers when users click through to the provider's site. This sponsored provider relationship exists with less than 25% of the products listed. Showing unsponsored providers may hurt our monetization, but we believe evaluating all providers regardless of financial relationship helps consumers make informed, better decisions. We believe if we provide honest and impartial reviews, users will continue to trust our reviews, and use our site. We do not identify sponsored providers to ensure that a paid relationship is not interpreted as an endorsement.</P></p>
		<p>If you know of a provider we don’t feature, please email us at <span class="code">&#109;&#111;&#099;&#046;&#100;&#110;&#117;&#111;&#104;&#121;&#097;&#100;&#121;&#097;&#112;&#101;&#104;&#116;&#064;&#107;&#099;&#097;&#098;&#100;&#101;&#101;&#102;</span>.</p>

		<h2>How do our Payday Loan rankings work?</h2>
		<p>The Payday Hound ranks each site based on a &#8220;Sniff Test,&#8221; pricing, and features.</p>
		<p>SNIFF TEST: Lenders score higher on the Sniff Test if they are licensed in each state in which they operate, have physical storefronts, are US based, display contact information, and have a privacy policy. The Sniff Test also incorporates Better Business Bureau ratings, accreditation and complaints.</p>
		<p>COST: Pricing is based on the cost of a $300, 14-day, payday loan in the State of Delaware.</p>
		<p>FEATURES: The Features sections located in each lender's individual review is based on features that differentiate lenders. For example, some lenders provide live chat or phone support, have applications in Spanish, or do not require references. Standard features, such as faxless applications and next business day funding only impact lenders if they do not provide these standard features.</p>

		<h2>How do our Secured Card rankings work?</h2>
		<p>The Payday Hound ranks each site based on pricing. We also provide a description for things that you might miss in the fine print so make your read the short descriptions</p>
		<p>PRICING: Pricing includes annual fees, monthly fees, purchase APR and cash advance APR.</p>
		<p>PRICING DOES NOT INCLUDE: Pricing does not include other fees such as late penalties, re-load fees, or application fees. It also does not include the impact of Grace Periods. It also does not include additional revenue some cards offer like interest on deposits. We try and highlight these subtle differences in our description but final terms must always be reviewed on the lenders website.</p>
	</div>	
</section>
</div>