<div id ="sidebar">

		<%= render(:partial => "shared/sidebar")%>


</div>



<div id="mainContent">
		
	<h1>Why The Payday Hound?</h1>
							
	<div class="content">


		<div>
			<p>Welcome to The Payday Hound&#8217;s Press Center, a place for professionals seeking information and the latest news about The Payday Hound.</p>
			<p>For any press queries, please contact: <span class="code">moc.dnuohyadyapeht@nila</span>.</p>
			<p><span style="color: #0e8b4d;"><strong>RECENT PRESS</strong></span><br />
				<a href="http://www.americanbanker.com/bankthink/get-more-transparency-in-payday-lending-1049381-1.html" onclick="javascript:_gaq.push(['_trackEvent','outbound-article','http://www.americanbanker.com']);">Let&#8217;s Get More Transparency in Payday Lending</a> - American Banker, May 18th, 2012
			</p>
			<p><span style="color: #0e8b4d;"><strong>LATEST PRESS RELEASES</strong></span><br />
				<a href="http://www.prweb.com/releases/payday-loans/payday-direct/prweb9358400.htm" onclick="javascript:_gaq.push(['_trackEvent','outbound-article','http://www.prweb.com']);">The Payday Hound Launches Payday Loan Review Site</a><br />
				<a href="http://www.prweb.com/releases/payday-direct/quick-fast-loans/prweb9456422.htm" onclick="javascript:_gaq.push(['_trackEvent','outbound-article','http://www.prweb.com']);">The Payday Hound Reviews Best Quick Fast Loans</a>
			</p>
			<p><span style="color: #0e8b4d;"><strong>PRESS RESOURCES</strong></span><br />
				<a href="http://www.thepaydayhound.com/wp-content/uploads/2012/05/The-Payday-Hound-One-Sheet.pdf" onclick="javascript:_gaq.push(['_trackEvent','download','http://www.thepaydayhound.com/wp-content/uploads/2012/05/The-Payday-Hound-One-Sheet.pdf']);">The Payday Hound One Sheet</a><br />
				<a href="http://www.thepaydayhound.com/wp-content/uploads/2012/05/The-Payday-Hound-Team.pdf" onclick="javascript:_gaq.push(['_trackEvent','download','http://www.thepaydayhound.com/wp-content/uploads/2012/05/The-Payday-Hound-Team.pdf']);">The Payday Hound Team</a>
			</p>
		</div>
		
	</div>	

</div>