<!DOCTYPE html><!-- HTML 5 -->
<html dir="ltr" lang="en-US">
<%# This layout is for clicks to partners and goes directly to partner sites. It's for landing pages and banner ads %>

<head>
  <title>The Payday Hound: Payday Loan Reviews and Independent Rankings</title>
	<meta name="description" content="Detailed, fair, independent reviews and rankings of payday and installment loans. The Payday Hound reviews more online payday loans than anyone else we know"/>
  <meta name="robots" content="noindex, nofollow">  

  <% # Google Analytics code for subdomain tracking %>
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-29737687-1']);
    _gaq.push(['_setDomainName', 'thepaydayhound.com']);
    _gaq.push(['_trackPageview']);  

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })(); 

  </script> 
  <% # Google Analytics code for subdomain tracking %>

  <% #Google Code for Remarketing tag %>
  <% #Remarketing tags may not be associated with personally identifiable information or placed on pages related to sensitive categories. For instructions on adding this tag and more information on the above requirements, read the setup guide: google.com/ads/remarketingsetup %>
  <script type="text/javascript">
  /* <![CDATA[ */
  var google_conversion_id = 1023523426;
  var google_conversion_label = "bP5dCO7Q1wMQ4vSG6AM";
  var google_custom_params = window.google_tag_params;
  var google_remarketing_only = true;
  /* ]]> */
  </script>
  <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
  </script>
  <noscript>
  <div style="display:inline;">
  <img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/1023523426/?value=0&amp;label=bP5dCO7Q1wMQ4vSG6AM&amp;guid=ON&amp;script=0"/>
  </div>
  </noscript>
  <% # End Google remarketing code %>
  
</head>
<body>
<%= yield %>
<% # Google Code for Apply Conversion Page %>
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 1023523426;
var google_conversion_language = "en";
var google_conversion_format = "3";
var google_conversion_color = "ffffff";
var google_conversion_label = "_GsBCIao0QIQ4vSG6AM";
var google_conversion_value = 0;
/* ]]> */
</script>
<script type="text/javascript" src="http://www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="http://www.googleadservices.com/pagead/conversion/1023523426/?value=0&amp;label=_GsBCIao0QIQ4vSG6AM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>
<% #End Google Code for Apply Conversion Page %>
</body>
</html>